In [2]:
import pandas as pd

In [5]:
df=pd.read_csv("E:/Jupyter_notebook/learn_pandas/pokemon.csv")
print(df)

      No        Name    Type1   Type2  Height  Weight  Legendary
0      1   Bulbasaur    Grass  Poison     0.7     6.9          0
1      2     Ivysaur    Grass  Poison     1.0    13.0          0
2      3    Venusaur    Grass  Poison     2.0   100.0          0
3      4  Charmander     Fire     NaN     0.6     8.5          0
4      5  Charmeleon     Fire     NaN     1.1    19.0          0
..   ...         ...      ...     ...     ...     ...        ...
145  146     Moltres     Fire  Flying     2.0    60.0          1
146  147     Dratini   Dragon     NaN     1.8     3.3          0
147  148   Dragonair   Dragon     NaN     4.0    16.5          0
148  149   Dragonite   Dragon  Flying     2.2   210.0          0
149  150      Mewtwo  Psychic     NaN     2.0   122.0          1

[150 rows x 7 columns]

## Agregate func on full table

In [6]:
print(df.mean(numeric_only = True))

No           75.500000
Height        1.200000
Weight       46.231333
Legendary     0.026667
dtype: float64

In [7]:
print(df.sum(numeric_only = True))

No           11325.0
Height         180.0
Weight        6934.7
Legendary        4.0
dtype: float64

In [8]:
print(df.min(numeric_only = True))

No           1.0
Height       0.2
Weight       0.1
Legendary    0.0
dtype: float64

In [9]:
print(df.max(numeric_only = True))

No           150.0
Height         8.8
Weight       460.0
Legendary      1.0
dtype: float64

In [10]:
print(df.count())

No           150
Name         150
Type1        150
Type2         67
Height       150
Weight       150
Legendary    150
dtype: int64

## Agregate func on sole col

In [12]:
print(df['Height'].mean())

1.2

In [13]:
print(df['Height'].sum())

180.0

In [14]:
print(df['Height'].min())

0.2

In [15]:
print(df['Height'].max())

8.8

In [16]:
print(df['Height'].mean())

1.2

In [18]:
print(df['Type2'].count())

67

## group_by

In [32]:
group = df.groupby('Type1')
print(f"{group["Height"].count().sort_values(ascending=True)}")

Type1
Fairy        2
Ice          2
Ghost        3
Dragon       3
Psychic      7
Fighting     7
Ground       8
Electric     9
Rock         9
Grass       12
Bug         12
Fire        12
Poison      14
Normal      22
Water       28
Name: Height, dtype: int64