In [31]:
import pandas as pd

## Data frame

In [32]:
data = {"Name":['yash','narendar','rahul'],
       "age":[30,35,50]
       }

In [33]:
df=pd.DataFrame(data)
print(df)
print("------------------------")
df=pd.DataFrame(data,index=['Emp 1 = ','Emp 2 = ','emp 3 ='])
print(df)

       Name  age
0      yash   30
1  narendar   35
2     rahul   50
------------------------
              Name  age
Emp 1 =       yash   30
Emp 2 =   narendar   35
emp 3 =      rahul   50

In [34]:
print(df.loc['Emp 2 = '])

Name    narendar
age           35
Name: Emp 2 = , dtype: object

In [35]:
print(df.iloc[1])

Name    narendar
age           35
Name: Emp 2 = , dtype: object

In [36]:
#add new col
df["job"]=["cook","N/A","cash"]
print(df)

              Name  age   job
Emp 1 =       yash   30  cook
Emp 2 =   narendar   35   N/A
emp 3 =      rahul   50  cash

In [38]:
#add new row
new_row=pd.DataFrame([{"Neme":"Sandy","Age":28,"job":"cleaner"}])
df=pd.appand([df,new_row])
print(df)

AttributeError: module 'pandas' has no attribute 'appand'

In [45]:
data = {
"Name": ["Spongebob", "Patrick", "Squidward"],
"Age": [30, 35, 50]
}
df = pd.DataFrame (data, index=["Employee 1", "Employee 2", "Employee 3"])
# Add a new column
df["Job"] = ["Cook", "N/A", "Cashier"]
# Add a new row
new_row = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"},
                       {"Name": "Sandy", "Age": 28, "Job": "Engineer"}],
                      index=['emp 4 =','emp 5 ='])
df = pd.concat([df,new_row])
print(df)

                 Name  Age       Job
Employee 1  Spongebob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer

In [53]:
new_row = pd.DataFrame([{"Name": "Sandy", "Age": 28, "Job": "Engineer"},
                       {"Name": "Sandy", "Age": 28, "Job": "Engineer"}],
                      index=['emp 4 =','emp 5 ='])
df = pd.concat([df,new_row])
print(df)

                 Name  Age       Job
Employee 1  Spongebob   30      Cook
Employee 2    Patrick   35       N/A
Employee 3  Squidward   50   Cashier
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer
emp 4 =         Sandy   28  Engineer
emp 5 =         Sandy   28  Engineer